<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Reset Password - Saveurs de Taroudant</title>
    <link rel = "icon" href ="http://127.0.0.1:8000/media/shop/images/...." type = "image/x-icon">

</head>
<body>
    <div class="container padding-bottom-3x mb-2 mt-5">
        <div class="jumbotron">
	    <div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10">
	            <div class="forgot">
	                <h2>Mot de passe oublié?</h2>
	                <p>Changez votre mot de passe en trois étapes faciles. Cela vous aidera à sécuriser votre mot de passe!</p>
	                <ol class="list-unstyled">
	                    <li><span class="text-primary text-medium">1. </span>Veuillez saisir votre adresse e-mail ci-dessous.</li>
	                    <li><span class="text-primary text-medium">2. </span>Notre système vous enverra un lien temporaire.</li>
	                    <li><span class="text-primary text-medium">3. </span>Utilisez le lien pour réinitialiser votre mot de passe.</li>
	                </ol>
	            </div>
	            <form method="post">

                    {% csrf_token %}
                    {{form}}
                    <input type="Submit" name="Send email">

                </form>
	        </div>
	    </div>
        </div>
	</div>

</body>
</html>

