<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Envoyer le Mot de passe - Saveurs de Taroudant</title>
    <link rel = "icon" href ="http://127.0.0.1:8000/media/shop/images/...." type = "image/x-icon">
</head>
<body>

    <div class="jumbotron">
        <h3>Entrez un nouveau mot de passe</h3>

		<p>Veuillez entrer votre nouveau mot de passe deux fois afin que nous puissions vérifier que vous l'avez bien tapé correctement.</p>

		<form method="post">

			{% csrf_token %}
			{{form}}
			<input type="Submit" name="Update Password">

		</form>
    </div>

</body>
</html>

