<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Envoyer le Mot de passe- Saveurs de Taroudant</title>
    <link rel = "icon" href ="http://127.0.0.1:8000/media/shop/images/...." type = "image/x-icon">
</head>
<body>

    <div class="jumbotron">
        <h3>Réinitialisation du mot de passe envoyée.</h3>
        <p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'adresse e-mail que vous avez saisie. Vous devriez les recevoir bientôt.</p>
        <p>Si vous ne recevez pas d'e-mail, veuillez vous assurer d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit, et vérifiez votre dossier de courrier indésirable.</p>
    </div>

</body>
</html>

