<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Envoyer le Mot de passe - Saveurs de Taroudant</title>
    <link rel = "icon" href ="http://127.0.0.1:8000/media/shop/images/..." type = "image/x-icon">
</head>
<body>

    <div class="jumbotron">
        <h3>Reinitialisation de mot de passe terminee</h3>
        <p>Votre mot de passe a ete defini. Vous pouvez maintenant vous connecter</p>
        <a href="/">Connecter</a>
    </div>

</body>
</html>

